body {
    margin: 0;
    padding: 0;
}

* {
    font-family: helvetica;
}
a{
    outline: none;
}
.header {
    background-color: #fff;
    border-bottom: 1px solid #90a4ae;
    width: 100%;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4);
}

.row {
    display: inline-flex;
}

.container {
    width: 80%;
    margin: 0 10%;
}

.web-name a .first-child {
    font-family: Courier;
    font-weight: 800;
    font-size: 2em;
    text-transform: uppercase;
    color: #000;
}

.web-name.w-30 {
    padding-top: 1%;
}

.web-name a {
    padding: .5rem;
    margin: 0;
    text-decoration: none;
}
.web-name a span:hover + .last-child {
    color: #0af !important;
}
.web-name a .last-child:hover {
    color: #0af !important;
}
.web-name a .last-child {
    font-family: Helvetica;
    font-weight: 800;
    font-size: 2em;
    color: #9aa5a5;
    text-transform: uppercase;
}

.nav-list {
    list-style-type: none;
    display: inline-flex;
    float: right;
    margin: 0;
}

.menu-bar li {
    padding: 1rem 0;
}

.menu-bar li a {
    text-transform: capitalize;
    font-family: helvetica;
    font-weight: bold;
    font-size: .8rem;
    line-height: 1.5;
    padding: 1rem;
    text-decoration: none;
    color: #263238;
    outline: none;
}

.menu-bar li a:hover{
    color: #0af !important;
}

.w-30 {
    width: 30%;
}

.mg-25 {
    margin: 0 25%;
}

.w-50 {
    width: 50%;
}

.w-70 {
    width: 70%;
}

.w-100 {
    width: 100%;
}

.ptp-5 {
    padding-top: 5%;
}

.content-page {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    /* height: 450px; */
    background-position: center;
}

.content-page::before {
    content: "";
    display: block;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 58px;
    left: 0;
    background-color: rgba(110, 110, 110, 0.6);
}

mark {
    background: #fff0;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.mtp-10 {
    margin-top: 10%;
}

.f-4 {
    font-size: 4em !important;
}

.buttongetstart {
    text-decoration: none;
    font-size: 1.4rem;
    border: none;
    color: #263238;
    box-shadow: none;
    background: #fff;
    padding: 14px;
    border-radius: 10px;
    font-weight: bold;
    outline: none;
}

.buttongetstart:hover {
    color: #fff;
    background: #000;
}

.hometext mark {
    text-decoration: none;
    font-family: helvetica;
    font-size: 1.5em;
    color: #fff;
}

.footertext {
    text-decoration: none;
    font-family: helvetica;
    font-size: 1em;
    color: #bfbdbd;
    font-weight: bold;
    padding: 25px 0;
}

.content-footer {
    position: absolute;
    left: 0;
    bottom: 1px;
}

.body-bg {
    background-image: url(../images/wood.jpg);
}

.body-bg::before {
    content: "";
    display: block;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.56);
}


/* forms */

.text-white {
    color: #fff;
}

.text-bold {
    font-weight: bold;
}

.text-uppercase {
    text-transform: uppercase;
}

.p-t-input {
    padding-top: 3%;
}

.p-d-inp-log {
    margin: 0 25%;
}

.form-input {
    width: 98%;
    border: none;
    border-bottom-width: medium;
    border-bottom-style: none;
    border-bottom-color: currentcolor;
    border-bottom: 1px solid #09ada7;
    background: #fff0;
    border-radius: 5px;
    padding: 10px 5px;
    color: #ffffffff;
}

.no-outline {
    outline: none;
}

.floating-label {
    position: absolute;
    color: rgb(189, 189, 189);
    padding: 10px 5px;
    transition: all 0.5s ease;
    left: 30.2%;
}

.form-input:focus+.floating-label {
    margin-top: -2%;
    color: #fff;
}

.form-input:focus+.floating-label,
.form-input:valid+.floating-label,
.form-input:not(:placeholder-shown)+.floating-label {
    margin-top: -2%;
    color: #09ada7;
}
.form-input:invalid{
    box-shadow: none;
}
.form-input:not(:placeholder-shown):invalid {
    box-shadow:none;
    border-bottom: 1px solid #ff3600;

}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.checkbox-container:hover input~.checkmark {
    background-color: #ccc;
}

.checkbox-container input:checked~.checkmark {
    background-color: #594325;
    border-radius: 50%;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    border-radius: 50%;
}

.checkbox-container input:checked~.checkmark:after {
    display: block;
}

.checkbox-container p {
    margin: 3px 35px;
    color: white;
    font-size: 1em;
    font-weight: bold;
}

.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.btn {
    border: none;
    padding: 5px 30px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.btn-success {
    background: #594325;
}
.btn-success:hover {
    background: #8d5508;
}
.btn-rounded {
    border-radius: 7px;
}

.btn-md {
    font-size: 1em;
}

.middle-btn {
    text-align: center;
}
 .relativefooter{
    position: relative;
    padding: 20px 0;
 }
 .active-link{
    color: #0af !important;    
    text-decoration: underline !important;
 }