body {
    margin: 0;
    padding: 0;
}

* {
    font-family: helvetica;
}

a {
    outline: none;
    text-decoration: none;
}

.header {
    background-color: #fff;
    border-bottom: 1px solid #90a4ae;
    width: 100%;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4);
}

.row {
    display: inline-flex;
}

.container {
    width: 80%;
    margin: 0 10%;
}

.web-name a .first-child {
    font-family: Courier;
    font-weight: 800;
    font-size: 2em;
    text-transform: uppercase;
    color: #000;
}

.web-name.w-30 {
    padding-top: 1%;
}

.web-name a {
    padding: .5rem;
    margin: 0;
    text-decoration: none;
}

.web-name a span:hover+.last-child {
    color: #0af !important;
}

.web-name a .last-child:hover {
    color: #0af !important;
}

.web-name a .last-child {
    font-family: Helvetica;
    font-weight: 800;
    font-size: 2em;
    color: #9aa5a5;
    text-transform: uppercase;
}

.nav-list {
    list-style-type: none;
    display: inline-flex;
    float: right;
    margin: 0;
}

.menu-bar li,.menu-bar-phone li {
    padding: 1rem 0;
}

.menu-bar li a,.menu-bar-phone li a {
    text-transform: capitalize;
    font-family: helvetica;
    font-weight: bold;
    font-size: .8rem;
    line-height: 1.5;
    padding: 1rem;
    text-decoration: none;
    color: #263238;
    outline: none;
}

.wrap-content {
    flex-wrap: wrap;
}

.justify-space-between {
    justify-content: space-between;
}

.m-t-b-10 {
    margin: 10px 0;
}

.menu-bar li a:hover,.menu-bar-phone li a:hover {
    color: #0af !important;
}

.w-25 {
    width: 25%;
}
.w-15 {
    width: 15%;
}
.w-30 {
    width: 30%;
}

.mg-25 {
    margin: 0 25%;
}
.w-40{
    width: 40%;
}
.w-50 {
    width: 50%;
}

.w-70 {
    width: 70%;
}

.w-80 {
    width: 80%;
}

.w-100 {
    width: 100%;
}

.ptp-5 {
    padding-top: 5%;
}

.content-page {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.content-page::before {
    content: "";
    display: block;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: rgba(110, 110, 110, 0.6);
}

mark {
    background: #fff0;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.mtp-10 {
    margin-top: 10%;
}

.f-4 {
    font-size: 4em !important;
}

.buttongetstart {
    text-decoration: none;
    font-size: 1.4rem;
    border: none;
    color: #263238;
    box-shadow: none;
    background: #fff;
    padding: 14px;
    border-radius: 10px;
    font-weight: bold;
    outline: none;
}

.buttongetstart:hover {
    color: #fff;
    background: #000;
}

.hometext mark {
    text-decoration: none;
    font-family: helvetica;
    font-size: 1.5em;
    color: #fff;
}

.footertext {
    text-decoration: none;
    font-family: helvetica;
    font-size: 1em;
    color: #bfbdbd;
    font-weight: bold;
    padding: 25px 0;
}

.content-footer {
    position: absolute;
    left: 0;
    bottom: 0;
}

.body-bg {
    background-image: url(../images/wood.jpg);
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
}

.body-bg::before {
    content: "";
    display: block;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.56);
}


/* forms */

.text-white {
    color: #fff;
}

.text-bold {
    font-weight: bold;
}

.text-uppercase {
    text-transform: uppercase;
}

.p-t-input {
    padding-top: 2.5%;
}

.p-d-inp-log {
    margin: 0 25%;
}

.form-input {
    width: 96%;
    border: none;
    border-bottom-width: medium;
    border-bottom-style: none;
    border-bottom-color: currentcolor;
    border-bottom: 1px solid #09ada7;
    background: #fff0;
    border-radius: 5px;
    padding: 10px 5px;
    color: #ffffffff;
}

.no-outline {
    outline: none;
}

.floating-label {
    position: absolute;
    color: rgb(189, 189, 189);
    padding: 10px 5px;
    transition: all 0.5s ease;
    left: 30.2%;
}

.form-input:focus+.floating-label {
    margin-top: -2%;
    color: #fff;
}

.form-input:focus+.floating-label,
.form-input:valid+.floating-label,
.form-input:not(:placeholder-shown)+.floating-label {
    margin-top: -2%;
    color: #09ada7;
}

.form-input:invalid {
    box-shadow: none;
}

.form-input:not(:placeholder-shown):invalid {
    box-shadow: none;
    border-bottom: 1px solid #ff3600;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.checkbox-container:hover input~.checkmark {
    background-color: #ccc;
}

.checkbox-container input:checked~.checkmark {
    background-color: #594325;
    border-radius: 50%;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    border-radius: 50%;
}

.checkbox-container input:checked~.checkmark:after {
    display: block;
}

.checkbox-container p {
    margin: 3px 35px;
    color: white;
    font-size: 1em;
    font-weight: bold;
}

.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.btn {
    border: none;
    padding: 5px 30px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.btn-success {
    background: #594325;
}
.btn-info {
    background: #36b8d8;
    text-decoration: none;
}
.btn-danger {
    background: orangered;
}
.btn-success:hover {
    background: #8d5508;
}

.btn-rounded {
    border-radius: 7px;
}

.btn-md {
    font-size: 1em;
}

.marg-l-r-15{
    margin: 0 15%;
}

#recoverlogin {
    margin-top: 15%;
}

.middle-btn {
    text-align: center;
}

.relativefooter {
    position: relative;
    padding: 20px 0;
}

.active-link {
    color: #0af !important;
    text-decoration: underline !important;
}

.activate {
    color: #a7a7a7 !important;
    text-decoration: underline !important;
}

#login {
    margin-top: 7%;
}

.floating-label.profile {
    left: 41%;
}

.rightborder {
    border-right: 2px solid #9e9e9e;
}

.padprocontent {
    padding: 5% 0;
}

.paddproftab {
    padding: 0 5%;
}

.profmenu li {
    color: #2ea7e0;
    font-size: 1.2rem;
    text-decoration: underline;
    list-style-type: none;
    padding-bottom: 20%;
}

.profmenu li span:hover {
    color: #09ada7;
}

.totalpost {
    width: 100%;
    border: 1px solid #fff;
    background: #fff;
    padding: 15px 25px;
}

.totalpost p {
    font-size: 1.5em;
    font-weight: bold;
    color: blue;
}

.totalpost p small,.contentbox-black label small{
    font-size: 11px;
    font-weight: normal;
    color: #7a7070;
}

.totalpost p .text-one {
    font-size: 1.5em;
    font-weight: bold;
    color: #0078ff;
    float: right;
}

.switch {
    position: relative;
    width: 55px;
    height: 28px;
    float: right;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.hidden {
    display: none;
    transition: all 0.5s ease;
}

.setpointer {
    cursor: pointer;
}

.p-t-input-prof {
    padding-top: 5%;
}

.pagination {
    background: #848484;
    text-decoration: none;
    color: #fff !important;
    margin: 10px;
    border-radius: 0;
}

.pagination:hover {
    background: #bababa;
}

.diary-title,
.diary-content {
    color: #fff;
}

.diary a {
    text-decoration: none;
    color: cadetblue;
}

#diary-table {
    border-collapse: collapse;
}

.header-table {
    text-align: left;
    color: #fff;
    font-weight: 400;
    border-bottom: 2px solid #fff;
}
.header-table th{
    padding: 15px;
}
.diary-table-content td{
    padding: 15px;
    color: #90a4ae;
}
.diary-table-content:hover{
    background: #0000004d;
}
.diary-table-content td a{
    color: #90a4ae;
    text-decoration: none;
}
.diary-table-content td a:hover{
    text-decoration: underline;
}
.table-btn{
    background: none;
    border: none;
    color: red;
    cursor: pointer;
    font-weight: 400;
    font-size: 20px;
}
.table-link{
    color: #09ada7 !important;
    font-weight: 400;
    text-decoration: none;
    font-size: 20px;
}
.table-link:hover{
    color: #58beff;
}
.table-btn:hover{
    color: #f98e8e;
}
.m-t-b-30{
    margin: 30px 0;
}
.w-100.head-serch {
    background: #393939;
}
.textbtweenpd{
    color: #fff;
    padding: 0 30px;
}
.contentbox{
    background: #263238;
    padding: 15px;
}
.contentbox-black{
    margin-top: 40px;
    background: #263238;
    padding: 20px;
}
.contentbox-black label{
    color: #fff;
    font-size: 20px;
}
.contentbox h3{
    color: #fff;
    text-align: center;
    font-size: 1.4em;
}
.separator{
    background: #0078ff;
    height: 1px;
}
.contentbox p{
    font-size: 1.2em;
    line-height: 1.7;
    border: 3px solid gray;
    padding: 10px 40px;
    height: 500px;
    overflow-y: scroll;
    text-align: justify;
    color: #fff;
}
.pop-up{
    background: #fff3;
    position: fixed;
    z-index: 1;
    top: 0;
    height: 100%;
}
.pop-up .message{
    margin-top: 15%;
    background: #fff;
    color: #000;
    padding: 20px;
}
.message h3{
    color: orangered;
}
.message p{
    color: black;
    font-weight: bold;
}
.noscroll{
    height: 100%; 
    overflow: hidden;
}

.barsmenu{
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}
.nenu-toogle{
    float: right;
    cursor: pointer;
    display: none;
}
.menu-bar-phone .nav-list{
    float: none;
    padding: 0;
    display: block;
    margin: 0;
}
.phone-menu{
    background: #263238;
}
.menu-bar-phone li a{
    /* border-top: 1px solid; */
    color: #fff;
}
#phone-menu{
    position: absolute;
    z-index: 10;
    width: 100%;
}